@media screen and (max-width: 1025px) {
  /* ecran tablette */
  #bloc_page {
    height: 100%;
  }
  header {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -3.5%; /* pour ajuster le a:hover sur toute la largeur de l'ecran */
    width: 100%;
  }
  .conteneur_logo {
    width: 49%;
  }
  #logo {
    width: 50%;
    margin-left: 60px;
  }
  .ancre {
    order: 1;
    width: 100%;
    padding-bottom: 15px;
  }
  .ancre a:hover {
    border-bottom: 3px #0065fc solid;
    border-top: unset;
    padding-bottom: 12px;
  }
  #lien_inscire {
    width: 46%;
    margin-top: -20px;
    text-align: right;
    margin-right: 3.5%;
  }
  /* Ajustement du bloc recherche */
  .recherche {
    width: 70%;
    margin-bottom: -20px;
  }
  /* Ajustement du bloc filtre */
  .bloc_filtre {
    flex-wrap: wrap;
    height: 240px;
    margin-bottom: 20px;
  }
  .bloc_filtre h4 {
    width: 100%;
    margin-bottom: 5px;
  }
  #contour_filtre_eco {
    margin-right: 30px;
    width: 30%;
  }
  #contour_filtre_fam {
    width: 25%;
    margin-right: 30px;
  }
  #contour_filtre_rom {
    width: 30%;
    margin-right: 30px;
  }
  #contour_filtre_ani {
    width: 40%;
  }
  /* Ajustement de data */
  #info {
    float: left;
    margin-bottom: 20px;
  }
  data {
    /* correction bug sous responinator */
    display: inline;
    vertical-align: -7px;
  }

  /* bloc main */
  main {
    width: 100%;
  }
  .section_hebergement h2 {
    width: 150%; /* pour un titre sur une seule ligne */
  }
  /* Ajustement hebergement */
  .section_hebergement {
    order: 2;
    border-radius: unset;
    background-color: unset;
    margin-top: 20px;
  }
  .bloc_image_hebergement {
    width: 150%;
    height: 860px; /* height chaque article + espacement */
  }
  .bloc_image_hebergement article {
    width: 46.5%;
    height: 270px; /* (height bloc - ecart image 25px/ecart)/nbre bloc */
  }
  .bloc_image_hebergement div {
    height: 127px;
  }
  /* ajustement des positions en fonction de la taille max, lors retrecissement les img recadrent mieux */
  article #les_mouettes {
    /* pour un ajustement individuel a la reduction de la taille */
    object-position: 0 -25px;
  }
  article #hotel_mer {
    object-position: 0 -80px;
  }
  article #le_panier {
    /* pour un ajustement individuel a la reduction de la taille */
    object-position: 0 0px;
  }
  article #chez_amina {
    object-position: 0 -203px;
  }
  #aff_plus {
    margin-top: 25px;
    margin-bottom: 0px;
  }
  /* Ajustement populaire */
  aside {
    order: 1;
    border-radius: 0px;
    width: 100%;
    padding-left: 7%;
    margin-left: -3.5%; /* background 100% largeur */
  }
  aside #chart {
    float: right;
    margin-right: 50px;
  }
  .section_populaire {
    height: 680px; /* height chaque article + espacement */
  }
  .section_populaire article {
    margin-left: 5%;
    height: 220px; /* (height bloc - ecart image 15px/ecart)/nbre bloc */
  }
  /* Ajustement activite */
  .section_activites {
    order: 3;
    padding-left: 3.5%; /* pour aligner tous mes titres */
    width: 96.5%; /* je retire le padding left de 3.5% */
    margin-bottom: 35px;
  }
  .bloc_image_activites {
    height: 640px; /* height chaque article + espacement */
    width: 93%;
    flex-direction: row;
  }
  .bloc_image_activites article {
    width: 46%;
    height: 199px; /* (height bloc - ecart image 13px/ecart)/nbre bloc */
    border-radius: 20px;
  }
  /* 1er ajustement image pour tablette */
  .image_a_fort img {
    object-position: 0% 65%;
  }
  .image_a_ile img {
    object-position: 0% -10%;
  }
  #vieux_port {
    object-position: 50% 20%;
  }
  #calanques {
    object-position: 50% 30%;
  }
  /* mise en forme footer */
  #a_propos {
    width: 33%;
    margin-left: 10px;
  }
  #nos_herbegements {
    width: 33%;
  }
  #assistance {
    width: 33%;
  }
}
