#bloc_page{
    width: 900px;
    margin: auto;
    border: 1px black dashed;
}/* flexbox en organisation general page puis detaillé dans les blocs */
nav{
    background-color: yellow;
}
header{
    background-color:red;
}
main{
    background-color: blue;
}
footer{
    background-color: green;
}