#bloc_page {
  /* widht en % et min-height px pour les blocs pour qu'ils s'adapte en auto */
  width: 93%; /* -7% pour prendre en compte les marges left and right */
  margin: auto;
  border: 1px black dashed;
} /* flexbox en organisation general page puis detaillé dans les blocs */
header {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
}
#logo {
  width: 50%;
  border: 1px dashed;
}
#lien {
  width: 70%;
  border: 1px dashed;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
nav {
  background-color: #deebff;
  border: 1px dashed;
  min-height: 320px;
}

main {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* pour definir les memes marges de chaque coté */
  min-height: 1250px;
}
#hebergement_m {
  border: 1px dashed;
  width: 61%;
  padding-left: 3.5%;
  min-height: 50%;
}
#bloc_image_m {
  border: 1px dashed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* ecart entre image a regler */
  align-content: space-between;
  height: 70%;
  width: 95%;
}
.image_h {
  width: ;width: 28.5%;
  height: 46.5%;
  border: 1px dashed;
}

#populaire {
  border: 1px dashed;
  width: 29%;
  min-height: 50%;
  padding-left: 3.5%;
}
#bloc_image_p {
  height: 88%; /* retirer la marge du titre */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image_p {
  border: 1px dashed;
  height: 28%;
  width: 87%;
  margin-bottom: 5%;
}
#activite {
  border: 1px blue dashed;
  width: 100%;
  min-height: 50%;
}
#bloc_image_a {
  width: 100%;
} /* flex column wrap et definir height max img lare and small */
.image_a {
  border: 1px dashed;
  width: 25%;
}

footer {
  background-color: red;
  min-height: 220px;
  display: flex;
}
#a_propos {
  width: 33%;
}
#nos_herbegements {
  width: 33%;
}
#assistance {
  width: 33%;
}
