#bloc_page {
  /* widht en % et min-height px pour les blocs pour qu'ils s'adapte en auto */
  border: 1px black dashed;
} /* flexbox en organisation general page puis detaillé dans les blocs */
header {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  width: 93%; /* -7% pour prendre en compte les marges left and right */
  margin: auto;
}
#logo {
  width: 50%;
  border: 1px dashed;
}
#lien {
  width: 70%;
  border: 1px dashed;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
nav {
  background-color: #deebff;
  border: 1px dashed;
  min-height: 320px;
  width: 93%; /* -7% pour prendre en compte les marges left and right */
  margin: auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* pour definir les memes marges de chaque coté */
  min-height: 1250px;
  width: 93%; /* -7% pour prendre en compte les marges left and right */
  margin: auto;
}
#hebergement_m {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 61%;
  padding-left: 3.5%;
  min-height: 625px;
}
#bloc_image_m {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* ecart entre image */
  align-content: space-between;
  height: 437px;
  width: 96%;
}
.image_h {
  width: 29%;
  height: 43%;
  border: 4px white solid;
  border-radius: 20px;
}

#populaire {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 29%;
  height: 625px;
  padding-left: 3.5%;
}
#bloc_image_p {
  height: 550px; /* retirer la marge du titre */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image_p {
  height: 28%;
  width: 87%;
  border: 4px white solid;
  border-radius: 20px;
  margin-bottom: 5%;
}
#activite {
  border: 1px blue dashed;
  width: 100%;
  min-height: 625px;
  margin-bottom: 4%;
}
#bloc_image_a {
  border: 1px red dashed;
  width: 100%;
  height: 562px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
} /* taille d'image differente dans activité */
.image_a_long {
  /* meme attribut pour les 2 images longs */
  border: 1px dashed;
  width: 22.4%;
  height: 100%;
}
.image_a_fort {
  border: 1px dashed;
  width: 22.4%;
  height: 54%;
}
.image_a_ile {
  border: 1px dashed;
  width: 22.4%;
  height: 37%;
}
.image_a_notre {
  border: 1px dashed;
  width: 22.4%;
  height: 44%;
}
.image_a_parc {
  border: 1px dashed;
  width: 22.4%;
  height: 47%;
}

footer {
  background-color: #f2f2f2;
  min-height: 220px;
  display: flex;
  justify-content: center;
}
#a_propos {
  width: 30.9%;
  border: 1px dashed;
}
#nos_herbegements {
  width: 30.9%;
  border: 1px dashed;
}
#assistance {
  width: 30.9%;
  border: 1px dashed;
}

@media screen and (max-width: 991px) {
  #bloc_page{
    background-color: blue;
  }
  main{
    display: flex;
    flex-direction: column;
  }
  #hebergement_m{
    width: 96.5%;
  }
  #populaire{
    width: 96.5%;
    height: 250px;
    margin-top: 40px;
  }
  #bloc_image_p {
    flex-direction: row;
  }
  .image_p{
    width: 31%;
  }
}
