#bloc_page {
  /* widht en % et min-height px pour les blocs pour qu'ils s'adapte en auto */
  border: 1px black dashed;
} /* flexbox en organisation general page puis detaillé dans les blocs */
header {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  width: 93%; /* -7% pour prendre en compte les marges left and right */
  margin: auto;
  border: 1px dashed;
}
#conteneur_logo {
  /* definr une taille du conteneur pour ajuster les box / aux differents formats mobile */
  width: 67%;
}
#logo {
  /* ajuster le logo / taille conteneur */
  width: 20%;
  margin-top: 30px;
}
#ancre {
  width: 20%;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
#lien_inscire {
  width: 10%;
  padding-top: 50px;
  text-align: center;
}
nav {
  background-color: #deebff;
  border: 1px dashed;
  min-height: 320px;
  width: 93%; /* -7% pour prendre en compte les marges left and right */
  margin: auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* pour definir les memes marges de chaque coté */
  min-height: 1250px;
  width: 93%; /* -7% pour prendre en compte les marges left and right */
  margin: auto;
}
#hebergement_m {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 61%;
  padding-left: 3.5%;
  min-height: 625px;
}
#bloc_image_m {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* ecart entre image */
  align-content: space-between;
  height: 437px;
  width: 96%;
}
#bloc_image_m div {
  width: 29%;
  min-height: 188px;
  border: 4px white solid;
  border-radius: 20px;
  overflow: hidden; /* pour masquer le rest de límage */
  position: relative;
}
#bloc_image_m img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  top: -9%;
}
#bloc_image_m p{
  width: 100%;
  background-color: white;
  height: 46%;
  position: absolute;
  top: 50%;
}
span{
  font-weight: bold;
  font-size: 1.2em;
}

#bloc_image_m #chez_amina{ /* appeler le bloc pour ensuite la balise a l'interieur */
  position: absolute;
  top: -110px;
}
#bloc_image_m #hotel_mer{ /* appeler le bloc pour ensuite la balise a l'interieur */
  position: absolute;
  top: -45px;
}
#bloc_image_m #le_panier{
  height: 72%;
}


#populaire {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 29%;
  max-height: 625px;
  padding-left: 3.5%;
}
#bloc_image_p {
  height: 550px; /* retirer la marge du titre */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#image_populaire {
  height: 28%;
  width: 87%;
  border: 4px white solid;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
}
/* creation de deux balise/box a l'interieur pour ajuster plus facilement l'img et le txt
sinon : soit l'img reste devant le txt et prends 50% de la largeur */
#image_hotelsoleil{
  border-bottom-left-radius: 12%;
  border-top-left-radius: 12%;
  width: 45%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#image_hotelsoleil img {
  position: absolute;
  top: -10px;
  left: -60px;
  width: 222px;
  height: 170px;
}
#image_chambrehote{
  border-bottom-left-radius: 12%;
  border-top-left-radius: 12%;
  width: 45%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#image_chambrehote img {
  position: absolute;
  top: -10px;
  left: -43px;
  width: 222px;
  height: 170px;
}
#image_hoteltoutbleu{
  border-bottom-left-radius: 12%;
  border-top-left-radius: 12%;
  width: 45%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#image_hoteltoutbleu img {
  position: absolute;
  top: -40px;
  left: -20px;
  width: 170px;
  height: 250px;
}
#description { /* identique pour les 3 blocs */
  width: 55%;
}


#activite {
  width: 100%;
  min-height: 510px;
  margin-bottom: 4%;
  margin-top: 4%;
}
#bloc_image_a {
  width: 100%;
  height: 445px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
} /* taille d'image differente dans activité */

#bloc_image_a p{
  background-color: white;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: -18px;
  padding-left: 20px;
}
.image_a_long {
  /* meme attribut pour les 2 images longs */
  width: 24%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
#vieux_port {
  position: absolute;
  left: -300px;
  width: 726px;
  height: 600px;
}
#calanques{
  position: absolute;
  left: -200px;
  top: -100px;
  width: 726px;
  height: 600px;
}

.image_a_fort {
  width: 24%;
  height: 54%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
.image_a_fort img{
  position: absolute;
  top: -150px;
}
.image_a_ile {
  width: 24%;
  height: 37%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
.image_a_ile img{
  position: absolute;
  left: -10px;
  top: -30px;
  width: 348px; /* soit 0.66 de ratio */
  height: 229px;
}

.image_a_notre {
  width: 24%;
  height: 44%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
.image_a_notre img {
  width: 100%;
  position: absolute;
}
.image_a_parc {
  width: 24%;
  height: 47%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
.image_a_parc img {
  width: 100%;
  position: absolute;
  top: -4px;
}

footer {
  background-color: #f2f2f2;
  min-height: 220px;
  display: flex;
  justify-content: center;
}
#a_propos {
  width: 30.9%;
  border: 1px dashed;
}
#nos_herbegements {
  width: 30.9%;
  border: 1px dashed;
}
#assistance {
  width: 30.9%;
  border: 1px dashed;
}

@media screen and (max-width: 991px) {
  main {
    display: flex;
    flex-direction: column;
  }
  #hebergement_m {
    width: 96.5%;
  }
  #populaire {
    width: 96.5%;
    height: 250px;
    margin-top: 40px;
  }
  #bloc_image_p {
    flex-direction: row;
    padding-right: 30px;
  }
  #bloc_image_p div {
    width: 32%;
  }

  #bloc_image_a {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 550px; /* a ajuster precisement */
  }

  #bloc_image_a div {
    width: 30%;
    height: 260px;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #conteneur_logo {
    width: 49%;
  }
  #logo {
    width: 50%;
  }
  #ancre {
    order: 1;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  #lien_inscire {
    width: 50%;
    text-align: right;
  }

  main {
    width: 100%;
  }
  #hebergement_m {
    order: 2;
  }

  #bloc_image_m {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 1280px;
    width: 100%;
  }
  #bloc_image_m div {
    width: 93%;
    height: 193px; /* (height bloc - ecart image 25px/ecart)/nbre bloc */
  }

  #populaire {
    order: 1;
    border-radius: 0px;
    height: 580px;

  }
  #bloc_image_p {
    flex-direction: column;
    align-content: space-between;
    height: 480px;

  }
  #bloc_image_p div {
    width: 100%;
    height: 150px; /* (height bloc - ecart image 10px/ecart)/nbre bloc */
    margin-bottom: 0px;
  }

  #activite {
    order: 3;
    padding-left: 3.5%; /* pour aligner tous mes titres */
    width: 96.5%; /* je retire le padding left de 3.5% */
  }
  #bloc_image_a {
    height: 1260px;
    width: 100%;
  }
  #bloc_image_a div {
    width: 93%;
    height: 199px; /* (height bloc - ecart image 13px/ecart)/nbre bloc */
    border: 2px black solid;
    border-radius: 20px;
  }
  footer {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3.5%;
    height: 485px;
  }
}
