#bloc_page {
  /* width en % et min-height px pour les blocs pour qu'ils s'adapte en auto */
  border: 1px black dashed;
  width: 1440px; /* sauf pour le bloc image en px pour un rendu plus proche de l'image */
  height: 1884px;
  font-family: raleway, Verdana, Geneva, Tahoma, sans-serif;
} /* flexbox en organisation general page puis detaillé dans les blocs */

h1 {
  font-weight: bold;
  font-size: 1.6em;
}
h2 {
  font-weight: bold;
  font-size: 1.6em;
}
h3 {
  font-size: 1em;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  width: 93%; /* -7% pour prendre en compte les marges left and right */
  margin: auto;
  border: 1px dashed;
}
#conteneur_logo {
  /* definr une taille du conteneur pour ajuster les box / aux differents formats mobile */
  width: 67%;
}
#logo {
  /* ajuster le logo / taille conteneur */
  width: 20%;
  margin-top: 30px;
}
#ancre {
  width: 20%;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
#lien_inscire {
  width: 10%;
  padding-top: 50px;
  text-align: center;
}
nav {
  border: 1px dashed;
  min-height: 320px;
  width: 93%; /* -7% pour prendre en compte les marges left and right */
  margin: auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* pour definir les memes marges de chaque coté */
  min-height: 1250px;
  width: 93%; /* -7% pour prendre en compte les marges left and right */
  margin: auto;
}
#hebergement_m {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 61%;
  padding-left: 3.5%;
  min-height: 625px;
}
#bloc_image_h {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* ecart entre image */
  align-content: space-between;
  min-height: 437px;
  width: 96%;
}
#bloc_image_h article {
  width: 29%;
  height: 188px;
  border: 4px white solid;
  box-shadow: 5px 5px 3px #f2f2f2;
  border-radius: 20px;
  overflow: hidden; /* pour masquer le rest de l'image */
  position: relative;
}
#bloc_image_h img {
  width: 100%;
  object-fit: contain;
  object-position: 0 -15px;
}
.attribut_texte_hebergement {
  width: 100%;
  background-color: white;
  height: 77px;
  padding-left: 10px;
  position: absolute;
  top: 60%;
}
.attribut_texte_hebergement h3 {
  margin-top: 10px;
}
.attribut_texte_hebergement h3,
p {
  line-height: 5px;
}

#bloc_image_m #chez_amina {
  /* appeler le bloc pour ensuite la balise a l'interieur */
  object-fit: contain;
  object-position: 0 -110px;
}
#bloc_image_m #hotel_mer {
  /* appeler le bloc pour ensuite la balise a l'interieur */
  object-fit: contain;
  object-position: 0 -45px;
}

#populaire {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 29%;
  min-height: 625px;
  padding-left: 3.5%;
}
#populaire i {
  /* float / au texte pour une adaptation en responsive */
  float: right;
  margin-right: 40px;
}
#bloc_image_p {
  height: 550px; /* retirer la marge du titre */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#image_populaire {
  /* bloc incluant img et description */
  height: 28%;
  width: 87%;
  border: 4px white solid;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}
/* utilisation flex box a l'interieur pour ajuster plus facilement l'img et le txt*/
.attribut_image_populaire{ /* chaque image a le meme format dans sa boite */
  width: 45%;
  height: 100%;
  object-fit: cover;
}
.attribut_texte_populaire {
  margin-left: 10px;
  width: 50%;
}


#activite {
  width: 100%;
  min-height: 510px;
  margin-bottom: 4%;
  margin-top: 4%;
}
#bloc_image_a {
  width: 100%;
  height: 445px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
} /* taille d'image differente dans activité */

#bloc_image_a p {
  background-color: white;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: -18px;
  padding-left: 20px;
}
.image_a_long {
  /* meme attribut pour les 2 images longs */
  width: 24%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
#vieux_port {
  position: absolute;
  top: -130px;
  left: -200px;
  width: 726px;
  height: 600px;
}
#calanques {
  position: absolute;
  left: -200px;
  top: -100px;
  width: 766px;
  height: 505px;
  filter: brightness(150%);
}

.image_a_fort {
  width: 24%;
  height: 54%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
.image_a_fort img {
  position: absolute;
  top: -150px;
}
.image_a_ile {
  width: 24%;
  height: 37%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
.image_a_ile img {
  position: absolute;
  left: -10px;
  top: -30px;
  width: 348px; /* soit 0.66 de ratio */
  height: 229px;
}

.image_a_notre {
  width: 24%;
  height: 44%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
.image_a_notre img {
  width: 100%;
  position: absolute;
}
.image_a_parc {
  width: 24%;
  height: 47%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
.image_a_parc img {
  width: 100%;
  position: absolute;
  top: -4px;
}

footer {
  background-color: #f2f2f2;
  min-height: 214px;
  display: flex;
  justify-content: center;
}
footer div {
  margin-top: 10px;
}
#a_propos {
  width: 30.9%;
}
#nos_herbegements {
  width: 30.9%;
}
#assistance {
  width: 30.9%;
}

footer p {
  width: 360px;
  line-height: 15px;
}
h4 {
  font-size: 1.3em;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  main {
    display: flex;
    flex-direction: column;
  }
  #hebergement_m {
    width: 96.5%;
  }
  #populaire {
    width: 96.5%;
    height: 250px;
    margin-top: 40px;
  }
  #bloc_image_p {
    flex-direction: row;
    padding-right: 30px;
  }
  #bloc_image_p div {
    width: 32%;
  }

  #bloc_image_a {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 550px; /* a ajuster precisement */
  }

  #bloc_image_a div {
    width: 30%;
    height: 260px;
  }
}

@media screen and (max-width: 768px) {
  #bloc_page {
    width: 100%;
    height: 100%;
  }
  header {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #conteneur_logo {
    width: 49%;
  }
  #logo {
    width: 50%;
  }
  #ancre {
    order: 1;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  #lien_inscire {
    width: 50%;
    text-align: right;
  }
  nav {
    height: 520px;
  }

  main {
    width: 100%;
  }
  #hebergement_m {
    order: 2;
    border-radius: unset;
    background-color: unset;
  }
  #bloc_image_m {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 1250px;
    width: 100%;
  }
  #bloc_image_m div {
    width: 93%;
    height: 193px; /* (height bloc - ecart image 25px/ecart)/nbre bloc */
  }
  #bloc_image_m img {
    top: -55px; /* recentrer les 3 images */
  }
  #bloc_image_m #chez_amina {
    top: -200px;
  }
  #bloc_image_m #hotel_mer {
    top: -100px;
  }
  #bloc_image_m #le_panier {
    height: 100%;
  }

  #populaire {
    order: 1;
    border-radius: 0px;
    height: 560px;
  }
  #bloc_image_p {
    flex-direction: column;
    align-content: space-between;
    height: 460px;
  }
  #bloc_image_p div {
    width: 100%;
    height: 150px; /* (height bloc - ecart image 12px/ecart)/nbre bloc */
  }
  #bloc_image_p #description {
    width: 160px;
    padding-left: 25px;
  }

  #activite {
    order: 3;
    padding-left: 3.5%; /* pour aligner tous mes titres */
    width: 96.5%; /* je retire le padding left de 3.5% */
  }
  #bloc_image_a {
    height: 1260px;
    width: 100%;
  }
  #bloc_image_a div {
    width: 93%;
    height: 199px; /* (height bloc - ecart image 13px/ecart)/nbre bloc */
    border-radius: 20px;
  }
  #vieux_port {
    position: absolute;
    top: -0px;
    left: 0px;
    width: 350px;
    height: 231px;
  }
  #calanques {
    position: absolute;
    left: -40px;
    top: -45px;
    width: 426px;
    height: 281px;
  }
  .image_a_fort img {
    position: absolute;
    top: -165px;
  }
  .image_a_ile img {
    position: absolute;
    left: 0px;
    top: -10px;
  }

  footer {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3.5%;
    height: 485px;
  }
}
