#bloc_page {
  /* width en % et min-height px pour les blocs pour qu'ils s'adapte en auto */

  width: 1440px; /* sauf pour le bloc image en px pour un rendu plus proche de l'image */
  height: 1884px;
  font-family: raleway, Verdana, Geneva, Tahoma, sans-serif;
} /* flexbox en organisation general page puis detaillé dans les blocs */

/* bloc mise en forme generale du texte */
h1 {
  font-weight: bold;
  font-size: 1.4em;
}
h2 {
  font-weight: bold;
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
  font-weight: bold;
}
h4 {
  font-size: 1.1em;
  font-weight: bold;
}
article,
section a {
  color: black;
}
/* fin bloc mise en forme */
/* Mise en forme header */
header {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  width: 93%; /* -7% pour prendre en compte les marges left and right */
  margin: auto;
}
#conteneur_logo {
  /* definr une taille du conteneur pour ajuster les box / aux differents formats mobile */
  width: 67%;
}
#logo {
  /* ajuster le logo / taille conteneur */
  width: 20%;
  margin-top: 20px;
}
#ancre {
  width: 20%;
  display: flex;
  justify-content: space-around;
}
#ancre a {
  font-size: 1.1em;
  text-decoration: none;
  color: black;
  padding-top: 50px;
  width: 50%; /* egaliser la largeur pour avoir une bordure de meme longueur */
  text-align: center; /* puis centre le texte */
}
#ancre a:hover {
  color: #0065fc;
  border-top: 3px #0065fc solid;
  padding-top: 47px; /* pour annuler le recul bottom de 3px au survol */
}
#lien_inscire {
  width: 10%;
  padding-top: 50px;
  text-align: center;
  color: #0065fc;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
}
/* fin mise en forme header */
/* debut mise en forme nav */
nav {
  min-height: 320px;
  width: 93%; /* -7% pour prendre en compte les marges left and right */
  margin: auto;
}
/* mise en forme recherche */
#recherche {
  margin-top: 30px;
  width: 31%;
}
#localisation {
  background-color: #f2f2f2;
  padding: 18px 16px 18px 16px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  font-size: 1.3em;
}
.champs {
  width: 50%;
  margin-left: -2%;
  border: solid 2px #f2f2f2;
  padding: 17px 16px 14px 16px; /* top et bottom different */
  font-size: 1.1em;
  font-weight: bold;
  outline: none;
}
.recherche {
  width: 30%;
  padding: 18px 16px 15px 16px;
  background-color: #0065fc;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: unset;
  color: white;
  margin-left: -2%;
  font-size: 1.1em;
  font-weight: bold;
  outline: none;
}
#loupe {
  color: white;
  padding: 17px 17px;
  background-color: #0065fc;
  border-radius: 15px;
  font-size: 1.3em;
  margin-left: -4%;
  display: none;
}
/* fin mise en forme recherche */
/* mise en forme filtre */
#bloc_filtre {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
  margin-top: 30px;
}
#bloc_filtre mark {
  font-weight: bold;
  background-color: unset;
  margin-right: 32px;
  margin-top: 17px;
}
.contour_filtre_eco { /* un bloc par filtre car la largeur de chaque varie et
  adaptation plus rapide en mode mobile */
 border: solid 3px #f2f2f2;
  border-radius: 30px;
  height: 46px;
  width: 14.5%;
  margin-right: 20px;
}
.contour_filtre_eco em {
  font-weight: bold;
  font-style: unset;
  padding-left: 12px;
  text-align: center;
  }
  .contour_filtre_fam {
 border: solid 3px #f2f2f2;
  border-radius: 30px;
  height: 46px;
  width: 11.5%;
  margin-right: 20px;
  }
  .contour_filtre_fam em {
  font-weight: bold;
  font-style: unset;
  padding-left: 12px;
  text-align: center;
  }
  .contour_filtre_rom {
  border: solid 3px #f2f2f2;
  border-radius: 30px;
  height: 46px;
  width: 14.5%;
  margin-right: 20px;
  }
  .contour_filtre_rom em {
  font-weight: bold;
  font-style: unset;
  padding-left: 12px;
  text-align: center;
  }
  .contour_filtre_ani {
  border: solid 3px #f2f2f2;
  border-radius: 30px;
  height: 46px;
  width: 18%;
  margin-right: 20px;
  }
  .contour_filtre_ani em {
  font-weight: bold;
  font-style: unset;
  padding-left: 12px;
  text-align: center;
  }

i[title="icone"] {
  color: #0065fc;
  text-align: center;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: #deebff;
  line-height: 50px;
  font-size: 1.1em;
  margin-top: -1px;
  margin-left: -1px;
}
#bloc_filtre div:hover {
  border-color: #0065fc;
  color: #0065fc;
}
data i {
  /* ne prend pas le line-height, alors paddingtop que j'ajoute a la width */
  color: #0065fc;
  width: 30px;
  height: 25px;
  text-align: center;
  border: solid 2px #f2f2f2;
  border-radius: 30px;
  padding-top: 5px;
  margin-right: 10px;
}
/* fin */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* pour definir les memes marges de chaque coté */
  min-height: 1250px;
  width: 93%; /* -7% pour prendre en compte les marges left and right */
  margin: auto;
}
i[title="pleine"] {
  color: #0065fc;
}
i[title="vide"] {
  color: #f2f2f2;
}
/* mise en forme bloc hebergement */
#hebergement_m {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 61%;
  padding-left: 3.5%;
  min-height: 625px;
}
#bloc_image_h {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* ecart entre image */
  align-content: space-between;
  min-height: 437px;
  width: 96%;
}
#bloc_image_h article {
  width: 29%;
  height: 188px;
  border: 4px white solid;
  box-shadow: 5px 5px 3px #f2f2f2;
  background-color: white;
  border-radius: 20px;
  overflow: hidden; /* pour masquer le rest de l'image */
  position: relative;
}
#bloc_image_h img {
  width: 100%;
  object-fit: contain;
  object-position: 0 -15px;
}
.attribut_texte_hebergement {
  width: 100%;
  background-color: white;
  height: 77px;
  padding-left: 10px;
  position: absolute;
  top: 60%;
  line-height: 10px;
}
.attribut_texte_hebergement h3 {
  margin-top: 10px;
}
.attribut_texte_hebergement h3,
p {
  margin-bottom: 10px;
}
article #chez_amina {
  /* appeler le bloc pour ensuite la balise a l'interieur */
  object-fit: contain;
  object-position: 0 -110px;
}
article #hotel_mer {
  /* appeler le bloc pour ensuite la balise a l'interieur */
  object-fit: contain;
  object-position: 0 -45px;
}
.bouton_plus {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-top: 40px;
  font-size: 1.1em;
}
/* mise en forme bloc populaire */
#populaire {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 29%;
  min-height: 625px;
  padding-left: 3.5%;
}
#populaire #chart {
  /* float / au texte pour une adaptation en responsive */
  float: right;
  margin-right: 40px;
}
#bloc_image_p {
  height: 550px; /* retirer la marge du titre */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#image_populaire {
  /* bloc incluant img et description */
  height: 28%;
  width: 87%;
  border: 4px white solid;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 5%;
  overflow: hidden;
}
/* utilisation flex box a l'interieur pour ajuster plus facilement l'img et le txt*/
.attribut_image_populaire {
  /* chaque image a le meme format dans sa boite */
  width: 45%;
  height: 100%;
  object-fit: cover;
}
.attribut_texte_populaire {
  margin-left: 10px;
  width: 50%;
  float: right;
}
.attribut_texte_populaire i {
  margin-top: 30px;
}

/* mise en forme bloc activite */
#activite {
  width: 100%;
  min-height: 510px;
  margin-bottom: 4%;
  margin-top: 3%;
}
#bloc_image_a {
  width: 100%;
  height: 445px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
} /* taille d'image differente dans activité */

.image_a_long {
  /* meme attribut pour les 2 images longs */
  width: 24%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
#bloc_image_a p {
  /* meme propriete p dans toutes les images */
  height: 37px; /* 37+ 20px de padding top */
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: -18px;
  padding-left: 20px;
  padding-top: 20px;
  font-weight: bold;
}
#vieux_port {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#calanques {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
  filter: brightness(150%);
}
.image_a_fort {
  width: 24%;
  height: 54%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
.image_a_fort img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
}
.image_a_ile {
  width: 24%;
  height: 40%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
.image_a_ile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 40%;
}
.image_a_notre {
  width: 24%;
  height: 44%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
.image_a_notre img {
  width: 100%;
}
.image_a_parc {
  width: 24%;
  height: 47%;
  border-radius: 20px;
  box-shadow: 5px 5px 3px #f2f2f2;
  overflow: hidden;
  position: relative;
}
.image_a_parc img {
  width: 100%;
  object-fit: cover;
  object-position: 0 -15px;
}
/* mise en forme footer */
footer {
  background-color: #f2f2f2;
  min-height: 214px;
  display: flex;
  justify-content: center;
}
footer div {
  margin-top: 10px;
}
#a_propos {
  width: 30.9%;
}
#nos_herbegements {
  width: 30.9%;
}
#assistance {
  width: 30.9%;
}
footer ul {
  margin-top: -15px;
}
footer li {
  width: 100%;
  line-height: 30px;
  list-style-type: none;
  display: inline-block;
  margin-left: -40px;
  text-align: left;
}


@media screen and (max-width: 768px) {
  /* petit ecran */
  #bloc_page {
    width: 99%;
    height: 100%;
  }
  header {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -3.5%; /* pour ajuster le a:hover sur toute la largeur de l'ecran */
    width: 100%;
  }

  #conteneur_logo {
    width: 49%;
  }
  #logo {
    width: 50%;
    margin-left: 20px;
  }
  #ancre {
    order: 1;
    width: 100%;
    padding-bottom: 15px;
  }
  #ancre a:hover {
    border-bottom: 3px #0065fc solid;
    border-top: unset;
    padding-bottom: 12px;
  }
  #lien_inscire {
    width: 46%;
    margin-top: -20px;
    text-align: right;
    margin-right: 3.5%;
  }
  nav {
  }
  /* Ajustement du bloc recherche */
  #recherche {
    width: 100%;
    margin-bottom: -20px;
  }
  .recherche {
    display: none; 
  }
  .champs{
    width: 60%;
  }
  #loupe {
    display: unset;
    
  }
  /* Ajustement du bloc filtre */
  #bloc_filtre{
    flex-wrap: wrap;
    height: 240px;
    margin-bottom: 25px;
  }
  #bloc_filtre mark{
    width: 100%;
    margin-bottom: 5px;
  }
  .contour_filtre_eco {
    margin-right: 14px;
    width: 51%;
  }
  .contour_filtre_fam {
    margin-right: unset;
    width: 40%;
  }
  .contour_filtre_rom {
  margin-right: unset;
  width: 49%;
  }
  .contour_filtre_ani {
    margin-right: unset;
    width: 63%;
  }
  /* Ajustement de data */
  data i {
    float: left;
    margin-bottom: 40px;
  }
  
  /* bloc main */
  main {
    width: 100%;
  }
  #hebergement_m h2{
    width: 150%; /* pour un titre sur une seule ligne */
  }
  /* Ajustement hebergement */
  #hebergement_m {
    order: 2;
    border-radius: unset;
    background-color: unset;
    margin-top: 20px;
  }
  #bloc_image_h {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 1250px;
    width: 100%;
  }
  #bloc_image_h article {
    width: 143%;
    height: 193px; /* (height bloc - ecart image 25px/ecart)/nbre bloc */
  }
  #bloc_image_h img {
    object-position: 0 -45px;
  }
  article #chez_amina {
    object-position: 0 -173px;
  }
  article #hotel_mer {
    object-position: 0 -80px;
  }
  article #le_panier {
    object-position: 0 -20px;
  }
  .bouton_plus {
    margin-top: 25px;
    margin-bottom: 25px;
    
  }
  /* Ajustement populaire */
  #populaire {
    order: 1;
    border-radius: 0px;
    width: 100%;
    padding-left: 7%;
    margin-left: -3.5%; /* background 100% largeur */
  }
  #populaire #chart {
    float: right;
    margin-right: 20px;
  }
  #bloc_image_p section {
    width: 90%;
    height: 150px; /* (height bloc - ecart image 12px/ecart)/nbre bloc */
  }
  .attribut_texte_populaire i {
    margin-top: 12px;
  }
  /* Ajustement activite */
  #activite {
    order: 3;
    padding-left: 3.5%; /* pour aligner tous mes titres */
    width: 96.5%; /* je retire le padding left de 3.5% */
    margin-bottom: 35px;
  }
  #bloc_image_a {
    height: 1260px;
    width: 100%;
  }
  #bloc_image_a article {
    width: 93%;
    height: 199px; /* (height bloc - ecart image 13px/ecart)/nbre bloc */
    border-radius: 20px;
  }
  .image_a_fort img {
    object-position: 0% 45%;
  }
  .image_a_ile img {
    object-position: 0% -30%;
  }
  #vieux_port {
    object-position: 50% -20%;
  }

  footer {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 7%;
    margin-left: -3.5%;
    padding-top: 10px;
  }
  #a_propos {
    width: 93%;
  }
  #nos_herbegements {
    width: 93%;
  }
  #assistance {
    width: 93%;
  }
}
